body {
    margin: 0;
}

.menu-icon {
    z-index: 1;
    position: fixed;
    right: 0px;
    margin: 15px;
    background-image: url("../images/menu.png");
    background-size: contain;
    background-repeat: no-repeat; 
    width: 5%;
    height:5%;
}

#room-space {
    background: #e3a586;
    /* background-image: url("../images/chao.jpg"); */
    /* border: solid 1px red; */
}

.inventory {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 20%;
    background: whitesmoke;
    opacity: 0.5;
}

.hide {
    display: none;
}

.block {
    background-size: contain;
    background-repeat: no-repeat; 
    /* border: 1px solid red; */
    min-width: 35px;
    min-height: 35px;
}