body {
    margin: 0;
}

.menu-icon {
    z-index: 1;
    position: fixed;
    right: 0px;
    margin: 15px;
    background-image: url("../images/menu.png");
    background-size: contain;
    background-repeat: no-repeat; 
    width: 5%;
    height:5%;
}

#room-space {
    background: #e3a586;
    /* border: solid 1px red; */
}

.speech-div {
    border: 5px solid #FFB700;
    min-height: 100px;
    background: #0C96E8;
    color: white;
    font-family: 'Turret Road', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inventory {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 20%;
    background: whitesmoke;
    opacity: 0.5;
}

.hide {
    display: none;
}

.block {
    background-size: contain;
    background-repeat: no-repeat; 
    min-width: 35px;
    min-height: 35px;
}

.big-blackboard {
    position: absolute;
    width : 500px;
    height : 500px;
    background-color : white;
    opacity: 0.5;
    top : 0;
    margin: auto;

}
