/* html {
    scroll-behavior:smooth;
} */

body {
    margin: 0;
}

.menu-icon {
    z-index: 1;
    position: fixed;
    right: 0px;
    margin: 15px;
    background-image: url("../images/menu.png");
    background-size: contain;
    background-repeat: no-repeat; 
    width: 5%;
    height:5%;
}

#game-window {
    overflow: auto;
    /* overflow: scroll; */
}

#room-space {
    background: #e3a586;
    margin-bottom: 100px;
    /* border: solid 1px red; */
}

.speech-div {
    -webkit-box-shadow:inset 0px 0px 0px 5px #FFB700;
    -moz-box-shadow:inset 0px 0px 0px 5px #FFB700;
    box-shadow:inset 0px 0px 0px 5px #FFB700;

    position: fixed;
    bottom: 0;
    /* border: 5px solid #FFB700; */
    width: 100vw;
    height: 100px;
    background: #0C96E8;
    color: white;
    font-family: 'Turret Road', cursive;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inventory {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 20%;
    background: whitesmoke;
    opacity: 0.5;
}

.hide {
    display: none;
}

.block {
    background-size: contain;
    background-repeat: no-repeat; 
    min-width: 100px;
    min-height: 100px;
}

.big-blackboard {
    position: absolute;
    width : 500px;
    height : 500px;
    background-color : white;
    opacity: 0.5;
    top : 0;
    margin: auto;
}

.gamepad {
    display: none;
}

@media only screen and (max-device-width: 600px) {
    .block {
        min-width: 60px;
        min-height: 60px;
    }

    .inventory {
        width: 40%;
    }

    .game-pad {
        position: fixed;
        opacity: 0.3;
        display: grid;
        min-height: 200px;
        min-width: 200px;
        /* background: #0C96E8; */
        bottom: 125px;
        right: 0px;
    }

    .game-pad .up {
        grid-column: 2;
        grid-row: 1;
        background-image: url("../images/gamepad/upwards-black-arrow_2b06.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    .game-pad .down {
        grid-column: 2;
        grid-row: 3;
        background-image: url("../images/gamepad/downwards-black-arrow_2b07.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    .game-pad .right {
        grid-column: 3;
        grid-row: 2;
        background-image: url("../images/gamepad/black-rightwards-arrow_27a1.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    .game-pad .left {
        grid-column: 1;
        grid-row: 2;
        background-image: url("../images/gamepad/leftwards-black-arrow_2b05.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
}